body {
    background: #dfdfdf;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(34,34,34);
    margin: 0;
}
/*background-image: url()
background_repeat: no-repeat;
background-position: 100% 10% (100% afastado do lado esquerdo e 10% do topo(valores tb usados(right,center--left-top---center-center---
background: cover (ocupar toda tela)
background-atachment: fixed(backgrounde não se move, apenas o conteúdo*/

    /*color: #222222;/*Hex to RGB Color converter*/
    .container {
        width: 900px;
        margin: 0 auto; 
    }

    .profile {
        text-align: center;/*alinhamento da img, h1, h2 e links*/
        margin-bottom: 40px;
    }

.foto-principal {

    margin-top: 30px;
    width: 200px;
    height: 200px;
    border: 2px solid #ffffff;/*w3cschools*/
    border-radius: 50%;/*50% (canto superior esquerdo)10% (canto superior direito) 20%(canto inferior direito)15%(canto inferior esquerdo) 50%,10%,20%,15%*/
    /*border-right-style(alterar apenas um lado da borda)*/
    margin: 30px 30px 0 30px;/*sentido horário,começando pela margin-top*/
    padding: 10px;/*espaçamento interno para todos os lados*/
    box-shadow: 3px 3px 15px black;/*primeiro parâmetro:distância da sombra na horizontal, segundo: na vertical,terceiro desfoque, quarto: cor da sombra*/
   
}
h1 {
    margin-top: 10px;
    margin-bottom: 0;
    letter-spacing: -1px;
}

h2 {
    margin-top: 0;
    font-style: italic;
    color: rgb(87, 73, 73);
    font-weight: 100;/*espessura da fonte*/
    letter-spacing: -1px;
}
h4 {
    margin-bottom: 5px;
}
h5 {
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 100;
    font-style: italic;
}
p {
    line-height: 25px;
    margin-top: 0;
}

/*.caixa {
    width: 100px;
    height: 100px;
    background: red;
    border: 5px solid black;
    border-radius: 8px;
    margin: 0 auto;/*maneira de centralizar a div com bottom e top zero(proimeiro valor) e left e right automático(segundo valor) podendo declarar 4 valores diferentes sendo na ordem: top,right,bottom e left*/
  
    .social-links {
        text-decoration: none;/*retirar o underline dos ícones*/
    }

    .social-icons {
        width: 20px;
        height: auto;
    }

    .github {
        margin: 0 15px 0 15px;
    }

    .jobs-list {
        list-style: none;
        padding-left: 20px;
    }

    .footer {
        margin-top: 40px;
        background: black;
        color: white;
        text-align: center;
        padding: 10px 0;
    }
    
